body {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
  
}
.arcoiris{
  width: 100%;
  

}

.Rainbow{
  background: none;
  text-align: center;
}

.bosch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}


.boschLogo{
  display: flex;
  justify-content: center;
}


header {
  display: flex;
  justify-content: center;
  width: 100vw;
}

header img{
  width: 100vw;
}


.botonInicio{
  border:1px, rgba(3, 70, 255, 0.555);
  background: #ffffff;;
  border-radius: 8px;
  padding: 5px;
  font-size: 30px;
  font-family: 'Alatsi', sans-serif;
  text-align: center;
  margin-left: 1%;
  width: 200px;
}


.bus{
  text-align: center;
  
  left: 0;
  right: 0;
}

.gif{
  width: 100%;
}
.mainPage{
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover;
}

.backhome, .endroad{
  margin: 30px;
  border-radius: 10px;
  position: relative;
  top:80%;
  margin-right:10%;
  
  }

.inicioBoton{
  top: 20%;
  left: 5%;
  padding: 1%;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  background: transparent;
}
.finBoton{
  top: 5%;
  left: 10%;
  padding: 1%;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;
  background: transparent;
  margin: 5%;
  margin-left: 20%;
}

.backhome{
  float:left;
  height: 30%;
}
.endroad{
  margin-left: 20%;
  background: transparent;
  border: transparent;
}
.icon{
  width: 20%;
}
.endroad{
  font-size: 140%;
}


button.newStation {
  position: absolute;
    top: 73%;
    left: -7%;
    padding: 2%;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;

}
h2{
text-align: center;
font-size: 40px;
color: teal;
}
button.newStation:hover {
  background-color: yellowgreen;
}

.newStation {
  display: flex;
  justify-content: center;
  margin-left: 48%;

}

.appName {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  color: rgb(11, 2, 63);
 text-align: center;
}
.ubicacion{
  text-align: center;
  margin-left: 900px;
}




.QrReader{
  width: 30%;
  margin: 10%;
  position: absolute;
  left: 25%;
  right: 0%;


}
.camera{
  text-align: center;
  align-content: center;
  width: 80%;
  margin-bottom: 15%;
  
}
.camera p{
  font-size: 150%;
  position: absolute;
  left: 0%;
  right: 0%;
 margin-bottom: 20%;
}

.boton{
  width: 30%;
  height: 20%;
}

.buttonBus {
  display: flex;
  flex-direction: row;
}