body {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
}


.Rainbow{
  background: none;
  text-align: center;
}

.bosch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}


.boschLogo{
  display: flex;
  justify-content: center;
}


header {
  display: flex;
  justify-content: center;


}

.botonInicio{
  border:1px, rgba(3, 70, 255, 0.555);
  background: #ffffff;;
  border-radius: 8px;
  padding: 5px;
  font-size: 30px;
  font-family: 'Alatsi', sans-serif;
  text-align: center;
  margin-left: 25%;
  width: 200px;
}


.bus{
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
}

.gif{
  width: 100%;
}
.mainPage{
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover;
}

.backhome, .endroad{
  margin: 20px;
  border-radius: 10px;

}
.backhome{
  margin-right: 20%;
  background: transparent;
  border: transparent;
  float:left;
}
.endroad{
  margin-left: 20%;
  background: transparent;
  border: transparent;
}
.icon{
  width: 20%;
}
.endroad{
  font-size: 140%;
}


button.newStation {
  position: absolute;
  top: 26%;
  left: 42%;
  padding: 54px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;

}

button.newStation:hover {
  background-color: yellowgreen;

.newStation {
  display: flex;
  justify-content: center;
  margin-left: 48%;

}

.appName {
  font-family: 'Raleway', sans-serif;
  font-size: 60px;
  color: rgb(11, 2, 63);
 text-align: center;
}
.ubicacion{
  text-align: center;
  margin-left: 900px;
}

.botonInicio{
  margin-left: 1000px;
}


.QrReader{
  width: 40%;
  margin: 10%;
  position: absolute;
  left: 0%;
  right: 0%;

}
.camera{
  text-align: center;
  align-content: center;
  width: 80%;
  margin-bottom: 15%;
  
}
.camera p{
  font-size: 150%;
  position: absolute;
  left: 0%;
  right: 0%;
 margin-bottom: 20%;
}


