/*body {
  background-color: white;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
}*/

body {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-repeat: no-repeat;
}

.bosch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  background-size: cover;
  border-radius: 10px;
  position: relative;
}


.boschLogo{
  /*width: 50%;
  align-content: center;
  margin-left: 25%;*/
  display: flex;
  justify-content: center;
}

.Rainbow{
  /*display: flex;
  height: 100px;
  border-radius: 10px;
  /*margin-left: 15%;*/
}

header {
  display: flex;
  justify-content: center;

}

.botonInicio{
  border:1px, rgba(3, 70, 255, 0.555);
  background: #ffffff;;
  border-radius: 8px;
  padding: 5px;
  font-size: 30px;
  /*width: 15%;*/
  font-family: 'Alatsi', sans-serif;
  text-align: center;
  margin-left: 25%;
  width: 200px;
}


.bus{
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
}

.gif{
  width: 70%;
  
}
.mainPage{
  position: absolute;
  left: 0;
  right: 0;
  background-size: cover;
}
.backhome, .endroad{
  margin: 20px;
  border-radius: 10px; 

}
.backhome{
  margin-right: 20%;
  background: transparent;
  border: transparent;
  float:left;
}
.endroad{
  margin-left: 20%;
 background: transparent;
  border: transparent;
}
.icon{
  
  width: 20%;
}
.endroad{
  font-size: 140%;
}

button.newStation {
  position: absolute;
  top: 26%;
  left: 42%;
  padding: 54px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: bold;

}

button.newStation:hover {
  background-color: yellowgreen;
}
